<mat-toolbar color="primary">
    <div class="row">
        <img src="MRTS.png" alt="Personal Medical Records Tracking System" class="logo" height="30px" width="30px">
        <p>© {{ 2024 }} Personal Medical Records Tracking System. All rights reserved.</p>
    </div>
    <div class="row">
        <a href="#" mat-button>Privacy Policy</a>
        <a href="#" mat-button>Terms of Service</a>
        <a href="#" mat-button>Contact Us</a>
        <a href="#" mat-button>About Us</a>
    </div>
    <div class="row">
          <a href="#" target="_blank"><mat-icon>facebook</mat-icon></a>
          <a href="#" target="_blank"><mat-icon>twitter</mat-icon></a>
          <a href="#" target="_blank"><mat-icon>linkedin</mat-icon></a>
    </div>
  </mat-toolbar>