.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  .full-width {
    width: 100%;
  }
  #toggle-linear {
    margin-bottom: 20px;
  }
 
  .form-card {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
  }
  .row {
    display: flex;
    gap: 16px; 
    margin-bottom: 16px; 
  }
  .delete-button {
   position: absolute;
    top: 20px;
    right: 10px;

  }
